
%table
  %thead
    %tr
      %th Description
      %th Amount
      %th Date

  %tbody
    - for bill in bills
      %tr
        %td= link_to h(bill.title), bill
        %td= "%.2f €" % bill.amount
        %td= h bill.made_on
