<h1><%= @title="Editing bill"%></h1>

<%= render 'form' %>

<nav class="links">
  <ul>
    <li><%= link_to 'Show', @bill %></li>
    <li><%= link_to 'Back to the list', bills_path %></li>
  </ul>
</nav>
