<div id="overview">
  <h1>You owe</h1>

  <% if @you_owe.empty? %>
  <p>Nothing yet.</p>
  <% else %>
  <table id="you_owe">
  <% @you_owe.each do |friend, amount| %>
    <tr>
      <th><%=link_to friend.name, friend %></th>
      <td class="amount you_owe"><%=money(amount)%></td>
    </tr>
  <% end %>
  </table>
  <%end %>

  <h1>Owes you</h1>
  <% if @owes_you.empty? %>
  <p>Nothing yet.</p>
  <% else %>
  <table id="owes_you">
  <% @owes_you.each do |friend, amount| %>
    <tr>
      <th><%=link_to friend.name, friend%></th>
      <td class="amount owes_you"><%=money(amount)%></td>
    </tr>
  <% end %>
  </table>
  <% end %>

</div>