<% @title = "Bill: #{@bill.title}" %>
<h1>Bill</h1>

<article class="bill">
  <p><%=h @bill.text %></p>
  <p><%=h @bill.amount %> €</p>
  <p><%=h @bill.transaction_at %></p>
  <p><%=h @bill.title %></p>
</article>
